
/* Setting body text font and colour & centering */ 
body {
	font-family: "Trebuchet MS", sans-serif;
	background-color: #ffe1a8;
	text-align: center;
}

/* Enlarging and centering text */
p {
	font-size:120%;
	text-align: center;
}

/* Enlarging and centering list */
ul {
	font-size:200%;
	text-align:center;
	display: table;
	margin:0 auto;
}

/* Making citations smaller */
.citations {
	font-size: 75%;
}

/* adding background to links and centering links */
.links {
	background-color: rgb(214,161,13);
	color: white;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

/* creating background for titles, making font bigger, and centering text */
.titles {
	background-color:#7ba7b2;
	margin: 20px;
	padding: 50px;
	font-size: 200%;
	text-align: center;
}

/* centering image and setting border */
img {
	border-color: rgb(214,161,13);
	border-width: medium;
	border-style: solid;
	padding: 20px;
	margin: 20px;
	text-align: center;
}

/* creating container for text */
.container {
	position: relative;
	text-align: center;
	color: white;
}

/* putting text in container */

#cheddar {
	position: absolute;
	top: 26%;
	left: 45.7%;
	font-size: 200%;
	color: black;
}

#mozz {
	position: absolute;
	top: 27%;
	left: 44.5%;
	font-size: 200%;
	color: black;
}

#parm {
	position: absolute;
	top: 26%;
	left: 45%;
	font-size: 200%;
	color: black;
}

#gouda {
	position: absolute;
	top: 26%;
	left: 46.5%;
	font-size: 200%;
	color: black;
}

#brie {
	position: absolute;
	top: 26%;
	left: 48%;
	font-size: 200%;
	color: black;
}

#feta {
	position: absolute;
	top: 26%;
	left: 48%;
	font-size: 200%;
	color: black;
}

#payoyo {
	position: absolute;
	top: 26%;
	left: 47%;
	font-size: 200%;
	color: black;
}

#epoisses {
	position: absolute;
	top: 28%;
	left: 39%;
	font-size: 200%;
	color: black;
}

#burrata {
	position: absolute;
	top: 34%;
	left: 47%;
	font-size: 200%;
	color: black;
}
